html{
	width:100%;
	height:100vh;
}
body{
	width:100%;
	height:100%;
}
#logo{
	width:20%;
	height:10%;
}


#name {
     float:left;
    height:23.3%;
    background: linear-gradient(158deg, white , white ,rgba(121, 143, 181, 0.71));
    padding: .4%;
    float:none;
}
#txt_name{
    font-family:'Yu Gothic';
    color:rgb(17, 106, 181);
    font-size:250%;
    font-weight:700;
    padding-left:15%;
    padding-top:3%;
}


#logo{
    padding-left:1%;
    width:75%;
     height:100%;
}
#nav{
    margin-left:13%;
	width:100%;
}
.link{
   
    background-color:white;
    color:rgb(17, 106, 181);
     font-family:'Yu Gothic';
     font-size:100%;
     font-weight:bold;
     margin-left:3%;
     float:left;
}
#link1{

    margin-left:1%;
}
#asideLeft{
    float:none;
     margin-left:1.1%;
     margin-top:0.35%;
     width:20%;
     height:88%;
     margin-left:1.1%;
     float:left;
}
#rpl_b{
	float:right;
	margin-right:3%;
border: 1px solid rgb(17, 106, 181);
margin-left:5%;	
color:rgb(17, 106, 181);
font-size:100%;
font-weight:700;
background-color:white;

}
.btn{
width:85%;
height:80%;
border: 1px solid rgb(17, 106, 181);
margin-left:5%;	
color:rgb(17, 106, 181);
font-size:80%;
 background: linear-gradient(158deg, white , white ,rgba(121, 143, 181, 0.71));
}
.tdme{
	
	color:rgb(17, 106, 181);
	padding-left:3%;
		 font-weight:700;
}

#main{

     
     margin-top:0.35%;
     background-color:white;
     width:70%;
     height:90%;
    margin-left:3.5%;
     float:left;
}
#sec1{
    font-family:'Yu Gothic';
    font-size:100%;
    font-weight:700;
	background: linear-gradient(158deg, white , white ,rgba(121, 143, 181, 0.71));
    color: rgb(17, 106, 181);
    width:100%;
    height:30%;
	
	/*border-radius: 0.01px;
    border:solid;
	border-color:rgb(17, 106, 181);*/
}
#selectList{
    color: rgb(17, 106, 181);
   margin:3%;
     font-weight:bold; 
      font-family:'Yu Gothic';
}
#list{
    color: rgb(17, 106, 181);
     font-weight:bold;
         font-family:'Yu Gothic';
}

.date{
    color: rgb(17, 106, 181);
      margin:2%;
     font-weight:bold; 
      font-family:'Yu Gothic';
      float:left;
}
.indate{
font-weight:bold; 
      font-family:'Yu Gothic';
      color:rgb(17, 106, 181);
}
#travelers{
    margin-left:3%;
    width:50%;
    margin-top:15%;
    float:none;
    font-weight:bold; 
      font-family:'Yu Gothic';
      color:rgb(17, 106, 181);
}
#txtTrav{
   float:left;
     margin-right:3%;
}
.partners{
    margin-left:2%;
     width:10%;
}
#radio{
     margin-left:3%;
    width:50%;
   margin-top:5%;
    float:none;
    font-weight:bold; 
      font-family:'Yu Gothic';
      color:rgb(17, 106, 181);
}
#chbox{
     margin-left:3%;
    width:50%;
   margin-top:2%;
    float:none;
    font-weight:bold; 
      font-family:'Yu Gothic';
      color:rgb(17, 106, 181);
}
#search {
    margin-left: 25%;
    width: 20%;
    height: 10%;
    margin-top: 2%;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Yu Gothic';
    color: rgb(17, 106, 181);
    border-color: rgb(17, 106, 181);
    background-color: white;
}

#asideR1{
 
     margin-top:0.35%;
     width:25%;
     height:27%;
     margin-left:1.1%;
     float:left;
}

#asideR2{
    border-color:rgb(17, 106, 181);
	border-style:ridge;
	  background: linear-gradient(158deg, white , white ,rgba(121, 143, 181, 0.71));
	 padding:1.3%;
     margin-top:0.7%;
     font-family:'Yu Gothic';
     width:21.8%;
     height:53%;
     margin-left:1.1%;
     float:left;
	 color:rgb(17, 106, 181);
	 font-size:100%;
	 font-weight:700;
	  font-family:'Yu Gothic';
	 
}
#footer{
      margin-bottom:0.5%;
      margin-top:1.1%;
	  padding-left:37%;
	  font-family:'Yu Gothic';
	  font-size:90%;
	  color:rgb(17, 106, 181);
	  font-weight:bold;
     background-color:rgba(121, 143, 181, 0.44);
     width:62%;
     height:4.5%;
     margin-left:1%;
     float:left;
}
#myI{
	font-size:100%;
	padding:3%;
	color:rgb(0, 82, 204);
    display:inline;
}
#sec2{
	border-color:rgb(17, 106, 181);
	border-style:ridge;
	margin-left:0.1%;
	margin-top:1.1%;
	width:99%;
    height:65%;
	font-family:Georgia;
	 font-family:'Yu Gothic';
}
table{
    width:100%;
    height:100%;
}
table, th, td {
    color:rgb(17, 106, 181);
    border: 1px solid rgb(17, 106, 181);
    border-collapse: collapse;
}

#txtp{
	width:25%;
	padding:3%;
	font-family:Georgia;
	font-size:160%;
	color:rgb(153,101,21);
	float:left;
}
#prag{
margin-left:2%;
	height:100%;
	width:67%;
	float:left;
}

